<h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>
<br> <br>

<div  (mouseenter)="handleEvent($event)"
style="background-color: green;width:100px;height:100px;"> 
</div>

<div  (mouseleave)="handleEvent($event)"
style="background-color: blue;width:100px;height:100px;"> 
</div>
<br> 
<input type="text" (focus)="handleEvent($event)" placeholder="Focus Event">
<br> 
<input type="text" (blur)="handleEvent($event)" placeholder="Blur Event">
<br> 
<input type="text" (input)="handleEvent($event)" placeholder="Input Event">
<br>    
<input type="text" (keyup)="handleEvent($event)" placeholder="Keyup Event">
<br>
<input type="text" (keydown)="handleEvent($event)" placeholder="Keydown Event">

<br> <br> <br> <br>
<h2>UserName: {{name}}</h2>
<h2>User Name : {{displayName}}</h2>
<input type="text" (input)="getName($event)"  value="{{name}}" placeholder="Enter your name">
<button (click)="showName()">Show Name</button>
<br> <br> <br> 

<h2> If Else | Condition Flow </h2>

<button (click)="onChange()">Toggle Display</button>

@if(display){
    <div style="width: 200px; height:200px; background-color: green;">
    </div>
}

<br><br>
 <button (click)="toggleColor()">Toggle Color</button>

@if(changeColor){
    <div style="width: 200px; height:200px; background-color: red;">
    </div>
}
@else{
    <div style="width: 200px; height:200px; background-color: blue;">
    </div>
}

<br><br>
<h1>Else if | Control flow</h1>
<button (click)="changeColorBtn()">ChangeColor</button>
@if(color==1){
    <div style="width: 200px; height:200px; background-color: red;">
    </div>
}
@else if(color==2){
    <div style="width: 200px; height:200px; background-color: green;">
    </div>
}
@else if (color==3) {
    <div style="width: 200px; height:200px; background-color: blue;">
    </div>
}
@else {
    <div style="width: 200px; height:200px; background-color: yellow;">
    </div>
}
  

<br><br>
<h1>Switch Case | Control Flow</h1>


@switch(color){
    @case(1){
        <div style="width: 200px; height:200px; background-color: red;">
        </div>
    }
    @case(2){
        <div style="width: 200px; height:200px; background-color: green;">
        </div>
    }
    @case(3){
        <div style="width: 200px; height:200px; background-color: blue;">
        </div>
    }
    @default{
        <div style="width: 200px; height:200px; background-color: yellow;">
        </div>
    }
}

<br><br>
<h1>For Loop | Control Flow</h1>
@for(user of users; track users; let idx=$index){
    <ul>
        <li>
            <h2>Id: {{idx+1}}    Name: {{user.name}}  age: {{user.age}} 
             <button (click)="getStudentName(user.name)">getName</button>
            </h2>
        </li>
    </ul>
}


<br><br>
<h1>Signal</h1>
<h2>Count:= {{count()}}</h2> 
<h2>x:= {{x}}</h2>

<button (click)="updateValue('inc')">Update value</button>
<button (click)="updateValue('dec')">Decrease value</button>
<br>
<button (click)="count.set(count()+1)">Update value</button>
<button (click)="count.set(count()-1)">Decrease value</button>


<h2>data: {{data()}}</h2>
<button (click)="UpdateData()">Update Data</button>

<br><br>
<button (click)="showSum()">Show sum</button>

<br><br>
<h2>Signal Effects</h2>
<h2>UserName: {{userName()}}</h2>
<button (click)="userName.set('DUET Gazipur')">Update UserName</button>

<br><br>
<h2>Loop contextual variable</h2>
@for(value of arr; track arr;let idx=$index){
    <h5>Index: {{idx+1}}   Value: {{value}}     Isfirst: {{$first}}
             IsLast: {{$last}}      IsEven: {{$even}}  
            IsOdd: {{$odd}}     count: {{$count}}
            </h5>
}


<br><br>
<h2> Two way binding</h2>
<h2>Variable email: {{email}}</h2>
<input [(ngModel)]="email" type="email" placeholder="Enter your email">
<br>
<input type="email" (input)="changeEmail($event)" placeholder="Enter your email">


<br><br>
<h2>To Do List</h2>
<input [(ngModel)]="task" type="text" placeholder="Enter your task">
<button (click)="addTask()">Add Task</button>

<h1>task: {{task}}</h1>

<h2>Task List</h2>
@for(tsk of taskList; track taskList){
    <ul>
        <li>
            Index: {{tsk.id}}  Task: {{tsk.task}}
            <button (click)="removeTask(tsk.id)">Remove</button>
        </li>
    </ul>
}
<br><br>
<h2 [style.background-color]="bgColor">Dynamic styling</h2>

<br><br>
<h2>*ngFor Directives </h2>
<ul>
    <li *ngFor="let student of students; let i = index">
        Index: {{i+1}}  Name: {{student.name}}  Age: {{student.age}}
    </li>
</ul>

<br><br>
<h2>*ngif Directives </h2>

<h2 *ngIf="showNgIf">Show Ng If directive</h2>

<div *ngIf="login; else elseBlock">
    <a href="/">Logout</a>
</div>

<ng-template #elseBlock>
    <a href="/">Login</a>
</ng-template>


<div *ngIf="block==0">
    <h3>Block 1</h3>
</div>

<div *ngIf="block==1">
    <h3>Block 2</h3>
</div>

<div *ngIf="block==2">
    <h3>Block 3</h3>
</div>
<button (click)="updateBlock()">Update block</button>


<br><br>
<h2>*ngSwitch Directives </h2>

<div [ngSwitch]="color2">
    <h2 *ngSwitchCase="'red'" style="background-color:red;">Red</h2>
    <h2 *ngSwitchCase="'green'" style="background-color:green;">Green</h2>
    <h2 *ngSwitchCase="'blue'" style="background-color:blue;">Blue</h2>
    <h2 *ngSwitchCase="'yellow'" style="background-color:yellow;">Yellow</h2>
    <h2 *ngSwitchCase="'purple'" style="background-color:purple;">Purple</h2>
    <h2 *ngSwitchDefault>Default color</h2>
</div>


 







<br><br><br><br>