<p>login Page!</p>
 
<a [routerLink]="['/about',{
    name: 'Atikul Islam',
    Dept: 'CSE'
}]">Go to About
</a>

<br> <br>
<button (click)="goToAbout()">Go to About</button>
<br>
<button (click)="goToAbout1()">Go to About1</button>
<br><br>
<a routerLink="/about">Go to About</a>

<br><br>
<h2>User List</h2>
<ul>

    @for(user of users; track user.id){
        <li>
            <a routerLink="/about" [queryParams]="{ name: user.name, Dept: user.Dept }">
                {{ user.name }}
            </a>
        </li>
    }
</ul>



<br><br>
<h2>Basic of Reactive forms</h2>

<form action="" method="post">
    <input type="text" [formControl]="name" placeholder="Enter your name" >
    <br>
    <input type="password" [formControl]="password" placeholder="Enter your password">
    <br>
    <button (click)="displayValue()" type="submit">Login</button>
</form>

<br><br>
<h2>Current Name: {{name.value}}   password: {{password.value}}</h2>


<br><br>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name" placeholder="Enter your name" >
   
    <span class="error" *ngIf="nameError?.hasError('required')">*Name is required</span>
    <span *ngIf="nameError?.hasError('minlength')">*Name must be at least 5 characters long</span>
    <br>
    <input type="password" formControlName="password" placeholder="Enter your password">
    <span *ngIf="passwordError?.hasError('required')">*Password is required</span>
    <br>
    <input type="email" formControlName="email" placeholder="Enter your email">
    <span *ngIf="emailError?.hasError('required')">*Email is required</span>    
    <br>
    <button >Login</button>
    <button type="button" (click)="setValue()">Set Value</button>

</form>

<br><br>
<h2>Current Name: {{name.value}}   password: {{password.value}}    Email: {{email.value}}</h2>




<br><br>
<h2>Template Driven forms</h2>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
    <input   type="text" required ngModel name="name" placeholder="Enter your name">
     
    <br>
    <input type="password" minlength="5" maxlength="10" required name="password" ngModel placeholder="Enter your password">
    
    <br>
    <select name="gender" ngModel>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    <br>
    <input type="range" min="0" max="30" name="range" ngModel>
    <br>
    <button >Add User</button>
</form>

<h2>userDetails name: {{userDetails.name}}</h2>
<h2>userDetails password : {{userDetails.password}}</h2>
<h2>userDetails gender: {{userDetails.gender}}</h2>
<h2>userDetails range: {{userDetails.range}}</h2>

